.nothing {
	background-color: transparent;

	border-color: #868686;
	border-style: solid;
	border-width: 1px;
	box-shadow: none;
}
.grey {
	color: #868686;
}

.mt {
	margin-top: 1.3em;
}
.onboarding-tip {
	margin-top: 1em;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 8px;
	z-index: 420;
	.flex {
		display: flex;
		justify-content: space-between;
	}
	.help {
		display: flex;
		font-weight: bold;
	}
	.link {
		border-color: transparent;
	}
}
body {
	margin: 0;
}
.main {
	padding: 8px;
}
.about {
	position: absolute;
	height: 90%;
	width: 100%;
	z-index: 69;
	padding: 8px;
	.flex {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	background-color: #fff;
	&.hidden {
		display: none;
	}
	.logo {
		margin: 2em;
		width: 100px;
		height: 100px;
		-webkit-filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.2));
		filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0));
	}

	p {
		margin-bottom: 0;
	}
}

.flex {
	display: flex;
	flex-direction: row;
	.a {
		min-width: 32px;
	}
	.col {
		width: 100%;
	}
}
